@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,900;1,700&family=Spectral:wght@400;500&display=swap');

body {
    font-family: 'Fraunces', serif;
}

/* fonts */

.spectral {
    font-family: 'Spectral', sans-serif;
    font-weight: 400;
}

.fs-italic {
    font-style: italic;
}

/* Pallete */

.l-brown {
    color: #4A463A;
}

.m-brown {
    color: #443E32;
}

.d-brown {
    color: #3B382E;
}

.cream {
    color: #CBBF85;
}

.red {
    color: #885043;
}

.old-gold {
    color: #EEA410; 
}


/* Navigation */

.nav-wrapper {
    /* overwrites default Materialize colouring */
    background-image: linear-gradient(to left, #EEA410, #3b382e);
}

nav .brand-logo {
    color: #3b382e;
    font-weight: 900;
}

nav .brand-logo:hover {
    background-color: #3b382e;
    color: #EEA410
}

/* Results */

.btn-floating {
    /* overwrites default Materialize colouring */
    background-color: #885043;
}

.btn-floating:hover {
    /* overwrites default Materialize colouring */
    background-color: #eea410;
}