@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,900;1,700&family=Spectral:wght@400;500&display=swap');

body {
    font-family: 'Fraunces', serif;
}

/* Fonts */

.spectral {
    font-family: 'Spectral', sans-serif;
    font-weight: 400;
}

.fs-italic {
    font-style: italic;
}

/* Palette */

.l-brown {
    color: #4A463A;
}

.m-brown {
    color: #443E32;
}

.d-brown {
    color: #3B382E;
}

.cream {
    color: #CBBF85;
}

.fade-red {
    color: #885043;
}

.old-gold {
    color: #CFB53B;
}


/* Navigation */

.nav-wrapper,
.page-footer {
    /* overwrites default Materialize colouring */
    background-image: linear-gradient(to left, #CFB53B, #3b382e);
}

nav .brand-logo {
    color: #3b382e;
    font-weight: 900;
}

nav .brand-logo:hover {
    background-color: #3b382e;
    color: #CFB53B
}

#pintButton,
#pubButton,
#addButton,
#regButton,
#logButton {
    text-align: center;
    width: 150px;
}

/* Mobile Sidenav */

.sidenav {
    background-color: #CFB53B;
    color: #3b382e;
}

.sidenav li > a,
.sidenav div > a {
    /* overwrites default Materialize settings */
    color: #3b382e;
    font-size: 24px;
    font-weight: 600;
}

.mob-social {
    letter-spacing: 20px;
}

/* Results */

.btn-floating {
    /* overwrites default Materialize colouring */
    background-color: #885043;
}

.btn-floating:hover {
    /* overwrites default Materialize colouring */
    background-color: #CFB53B;
}

/* Footer */

.foot-social a {
    /* not rendering as planned */
    color: #3b382e;
    font-size: 36px;
    word-spacing: 50px;
}

