{% extends "main.html" %}

    {% block title %}
        Add a Pub
    {% endblock %}

    {% block content %}
        
        {% if session.user %}

            <div class="row center-align">
                <h4>Add a pub</h4>
            </div>

                <!-- form template taken from Materialize website-->
                 
                <div class="row container">
                    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_pub') }}">

                        <!-- All of the below categories need additional validation to ensure 
                        that no blanks can be entered -->

                        <!-- Pub Name (Mandatory) -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="pname" name="pname" type="text" class="validate" required>
                                <label for="pname">Pub Name</label>
                            </div>
                        </div>

                        <!-- Street Name (Mandatory) -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="loc" name="loc" type="text" class="validate" required>
                                <label for="loc">Street</label>
                            </div>
                        </div>

                        <!-- City (Mandatory) -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="city" name="city" type="text" class="validate" required>
                                <label for="city">Town/City</label>
                            </div>
                        </div>

                        <!-- County (Optional) -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="state" name="state" type="text" class="validate">
                                <label for="state">County, State or Province</label>
                            </div>
                        </div>

                        <!-- Country (Mandatory) -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <select id="country" name="country">
                                    <option disabled selected>Choose your option</option>
                                    {% for country in countries %}
                                        <option value="{{ country.name }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                                <label>Country</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="row">
                            <div class="card-action center-align">
                                <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                    Add this pub!
                                    <!-- Needs Font Awesome icon? -->
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

        {% else %}

            <div class="center-align">
                <a class="d-brown" href="{{ url_for('register') }}">New to Pintbaby? Register here!</a>
            </div>

        {% endif %}

    {% endblock %}