{% extends "main.html" %}

    <!-- Template for adding reviews -->

    {% block title %}
        Add a Review
    {% endblock %}

    {% block content %}
        
        {% if session.user %}

            <!-- form is composed of various different elements from Materialize, 
                namely the Datepicker, Selects and Text Inputs-->

            <div class="row center-align">
                <!-- Bug fix #7: icon centring-->
                <h4 class="d-brown">Review a pub</h4>
                <div class="d-brown">Can't find your pub? Add a new one
                    <a href="{{ url_for('add_pub') }}" class="old-gold">here.</a>
                </div>
            </div>
                 
                <div class="row container">

                    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_review') }}">

                        <!-- Choose Pub Dropdown -->
                        <br>
                        <br>
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <i class="fas fa-sign prefix d-brown"></i>
                                <select id="pub" name="pub" required>
                                    <option disabled selected>Choose your option</option>
                                    {% for pub in pubs %}
                                        <option value="{{ pub.pname }}">{{ pub.pname }}</option>
                                    {% endfor %}
                                </select>
                                <label>Pub Name</label>
                            </div>
                        </div>

                        <!-- Datepicker and Drink Price share row on larger screens -->
                        <div class="row">

                            <!-- Datepicker, submitted format is yyyy-mm-dd -->
                            <div class="input-field col s10 m5 offset-s1 offset-m1">
                                <i class="far fa-calendar-alt prefix d-brown"></i>
                                <input type="text" id="visit" name="visit" class="datepicker" required>
                                <label for="visit">Date visited</label>
                            </div>

                            <!-- Drink Price Input-->
                            <div class="input-field col s10 m5 offset-s1">
                                <i class="fas fa-money-bill-wave prefix d-brown"></i>
                                <input id="price" name="price" type="number" class="validate d-brown"
                                    min="0.01" step="0.01" pattern="\d+(\.\d{2})?"
                                    required>
                                <label for="price">Price</label>
                            </div>
                        </div>

                        <!-- Ratings share row on larger screens -->
                        <div class="row">

                            <!-- Pub Rating Dropdown -->
                            <div class="input-field col s10 m4 offset-s1 offset-m1">
                                <i class="far fa-smile prefix d-brown"></i>
                                <select id="prating" name="prating" required>
                                    <option disabled selected>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <label for="prating">Overall</label>
                            </div>

                            <!-- Drink Rating Dropdown -->
                            <div class="input-field col s10 m3 offset-s1">
                                <i class="fas fa-beer prefix d-brown"></i>
                                <select id="drating" name="drating" required>
                                    <option disabled selected>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <label for="drating">Pint</label>
                            </div>

                            <!-- Atmosphere Rating Dropdown -->
                            <div class="input-field col s10 m3 offset-s1">
                                <i class="fas fa-glass-cheers prefix d-brown"></i>
                                <select id="arating" name="arating" required>
                                    <option disabled selected>Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <label for="arating">Atmosphere</label>
                            </div>

                        </div>

                        <!-- Review Textarea with Character Counter from Materialize -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <i class="fas fa-pen-nib prefix d-brown"></i>
                                <textarea
                                    id="review" name="review" class="materialize-textarea validate"
                                    minlength="15" maxlength="400" data-length="400" required></textarea>
                                <label for="review">Write your review here</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="row">
                            <div class="card-action center-align">
                                <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                    Submit review
                                    <i class="far fa-check-square"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

        {% endif %}

    {% endblock %}