{% extends "main.html" %}

    {% block content %}

        <div class="row center-align">
            <h4>{{ username }}'s profile</h4>
        </div>

        <div class="row center-align">

            <a class="button btn-large" href="{{ url_for('my_reviews') }}">My Reviews</a>
            <a class="button btn-large" href="{{ url_for('logout') }}">Log Out</a>
        </div>

        <div class="row"> 

            {{ user.username }}
                
            {{ user.first_name }}

            {{ user.last_name }}

            {{ user.email }}

        </div>

    {% endblock %}