{% extends "main.html" %}

    {% block content %}
        
        {% if session.user %}

            <!-- form is composed of various different elements from Materialize, 
                namely the Date Picker, Radion Button, Selects and Text Inputs-->

            <div class="row center-align">
                <h4 class="d-brown">Edit your visit to {{ review.pub }}</h4>
                 
                <div class="row container">

                    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">

                        <!-- Choose Pub Dropdown -->
                        <br>
                        <br>
                        <!-- Really need two extra rows that allow users to narrow down by country and city 
                        first, then use criteria within a find function to filter drop-down below -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <select id="pub" name="pub" required>
                                    <!-- Need to sort these results alphabetically -->
                                    {% for pub in pubs %}
                                        {% if pub.pname == review.pub %}
                                            <option value="{{ pub.pname }}" selected>{{ pub.pname }}</option>
                                        {% else %}
                                            <option value="{{ pub.pname }}">{{ pub.pname }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>Pub Name</label>
                            </div>
                        </div>

                        <!-- Datepicker and Drink Selection share row on larger screens -->
                        <div class="row">

                            <!-- Datepicker, submitted formatt is yyyy-mm-dd -->
                            <!-- mobile view for this is horrific -->
                            <div class="input-field col s10 m3 offset-s1 offset-m1">
                                <input type="text" id="visit" name="visit" class="datepicker" 
                                format="yyyy/mm/dd" value="{{ review.visit }}" required>
                                <label for="visit">Visit Date</label>
                            </div>

                            <!-- Drink Selection -->
                            <div class="input-field col s10 m7 offset-s1">
                                <!-- This is not displaying longer items in most screen sizes -->
                                <select id="pint" name="pint" required>
                                    {% for pint in pints %}
                                        {% if pint.dname == review.pint %}
                                            <option value="{{ pint.dname }}">
                                                {{- pint.dname -}} ({{ pint.dtype }}, {{ pint.origin }})
                                            </option>
                                        {% else %}
                                            <option value="{{ pint.dname }}">
                                            {{- pint.dname }} ({{ pint.dtype }}, {{ pint.origin }})
                                        </option>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- should there be an Other option here? -->
                                </select>
                                <label>Pint Name</label>
                            </div>
                        </div>

                        <!-- Pub Rating, Drink Rating and Drink Price share row on larger screens -->
                        <div class="row">

                            <!-- Pub Rating Dropdown -->
                            <div class="input-field col s10 m3 offset-s1 offset-m1">
                                <select id="prating" name="prating" required>
                                    <option selected>{{ review.prating }}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <label>Pub Rating</label>
                            </div>

                            <!-- Drink Rating Dropdown -->
                            <div class="input-field col s10 m3 offset-s1">
                                <select id="drating" name="drating" required>
                                    <option selected>{{ review.drating }}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <label>Pint Rating</label>
                            </div>

                            <!-- Drink Price Input-->
                            <div class="input-field col s10 m4 offset-s1">
                                <!-- regex needs to include decimal point and/or comma-->
                                <input 
                                    id="price" name="price" type="text" class="validate"
                                    minlength="1" maxlength="8" pattern="\d+(\.\d{2})?" 
                                    value="{{ review.price }}" required>
                                <label for="price">Price</label>
                            </div>
                        </div>

                        <!-- Review Textarea with Character Counter from Materialize -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <textarea
                                    id="review" name="review" class="materialize-textarea" 
                                    minlength="15" maxlength="400" data-length="400" >{{ review.review }}</textarea>
                                <label for="review">Current Review</label>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="row">
                            <div class="card-action center-align">
                                <!-- Submit -->
                                <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                    <!-- Change font-->
                                    Amend Your Visit
                                    <i class="far fa-check-square"></i>
                                </button>
                                <!-- Cancel -->
                                <a class="btn-large waves-effect waves-red pb-button" href="#">
                                    <!-- href will take you back to view_review page once it's up and running -->
                                    <!-- needs a hover class with colour setting -->
                                    Cancel This Edit
                                    <i class="far fa-window-close"></i>
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        {% else %}

        {% endif %}

    {% endblock %}