{% extends "main.html" %}

    <!-- Template for users to edit one or more fields of a selected review. -->

    {% block title %}
        Edit your {{ review.pub }} review
    {% endblock %}

    {% block content %}

        {% if session.user %}

            <!-- form is composed of various different elements from Materialize, 
                namely the Date Picker, Radion Button, Selects and Text Inputs-->

            <div class="row center-align">
                <!-- Bug fix #7: icon centring-->
                <h4 class="d-brown">Edit your visit to {{ review.pub }}</h4>
            </div>
                 
            <div class="row container">

                <form class="col s12 m10 offset-m1" method="POST"
                    action="{{ url_for('edit_review', username=username, review_id=review._id) }}">

                    <!-- Choose Pub Dropdown -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <!-- Not displaying correctly -->
                            <i class="fas fa-sign prefix d-brown"></i>
                            <select id="pub" name="pub" required>
                                {% for pub in pubs %}
                                    {% if pub.pname == review.pub %}
                                        <option value="{{ pub.pname }}" selected>{{ pub.pname }}</option>
                                    {% else %}
                                        <option value="{{ pub.pname }}">{{ pub.pname }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Pub Name</label>
                        </div>
                    </div>

                    <!-- Datepicker and Drink Selection share row on larger screens -->
                    <div class="row">
                
                        <!-- Datepicker -->
                        <!-- mobile view for this is horrific -->
                        <div class="input-field col s10 m5 offset-s1 offset-m1">
                            <i class="far fa-calendar-alt prefix d-brown"></i>
                            <input type="text" id="visit" name="visit" class="datepicker" format="yyyy/mm/dd"
                                value="{{ review.visit }}" required>
                            <label for="visit">Visit Date</label>
                        </div>

                        <!-- Drink Price Input-->
                        <div class="input-field col s10 m5 offset-s1">
                            <i class="fas fa-money-bill-wave prefix d-brown"></i>
                            <input id="price" name="price" type="text" class="validate d-brown"
                                minlength="1" maxlength="8" pattern="\d+(\.\d{2})?"
                                value="{{ review.price }}" required>
                            <label for="price">Price</label>
                        </div>
                    </div>
                
                    <!-- Pub Rating, Drink Rating and Drink Price share row on larger screens -->
                    <div class="row">
                
                        <!-- Pub Rating Dropdown -->
                        <div class="input-field col s10 m4 offset-s1 offset-m1">
                            <i class="far fa-smile prefix d-brown"></i>
                            <select id="prating" name="prating" required>
                                <option selected>{{ review.prating }}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="prating">Overall</label>
                        </div>

                        <!-- Drink Rating Dropdown -->
                        <div class="input-field col s10 m3 offset-s1">
                            <i class="fas fa-beer prefix d-brown"></i>
                            <select id="drating" name="drating" required>
                                <option selected>{{ review.drating }}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="drating">Pint</label>
                        </div>

                        <!-- Atmosphere Rating Dropdown -->
                        <div class="input-field col s10 m3 offset-s1">
                            <i class="fas fa-glass-cheers prefix d-brown"></i>
                            <select id="arating" name="arating" required>
                                <option selected>{{ review.arating }}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="arating">Atmosphere</label>
                        </div>

                    </div>

                    <!-- Review Textarea with Character Counter from Materialize -->
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-pen-nib prefix d-brown"></i>
                            <textarea id="review" name="review" class="materialize-textarea" minlength="15" maxlength="400"
                                data-length="400">{{ review.review }}</textarea>
                            <label for="review">Current Review</label>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="row">
                        <div class="card-action center-align">
                            <!-- Submit -->
                            <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                <!-- Change font-->
                                Amend Your Visit
                                <i class="far fa-check-square"></i>
                            </button>
                            <!-- Cancel -->
                            <button class="btn-large waves-effect waves-red pb-button cancel-button" href="#">
                                <!-- href will take you back to view_review page once it's up and running -->
                                <!-- needs a hover class with colour setting -->
                                Cancel This Edit
                                <i class="far fa-window-close"></i>
                            </button>
                            <!-- Add Delete button here? -->
                        </div>
                    </div>

                </form>
            </div>


        {% else %}

        {% endif %}

    {% endblock %}