{% extends "main.html" %}

    {% block content %}

        <div class="row center-align">
            <h4>{{ username }}'s profile</h4>
        </div>

        <div class="row center-align">

            <a class="button btn-large" href="{{ url_for('my_reviews', username=session['user']) }}">My Reviews</a>
            <a class="button btn-large" href="{{ url_for('logout') }}">Log Out</a>
        </div>

        <div class="row"> 

            Display profile information here

            {% for user in users %}
                {% if user.username == session["user"] %}
                
                    {{ user.username }}
                    {{ user.first_name }}
                    {{ user.last_name }}
                    {{ user.email }}

                {% endif %}
            {% endfor %}

        </div>

    {% endblock %}