{% extends "main.html" %}

    <!-- Landing page for all users, establishes the theme of the site and summarises features -->

    {% block title %}
        Home
    {% endblock %}

    {% block content %}

        <div class="parallax-container">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/black-horse.png') }}"
                    alt="The Black Horse in Preston, England">
            </div>
        </div>

        <div class="section light-grey-bg center">
            <div class="row container">
                <h3 class="header m-brown">Welcome to Pintbaby!</h3>
                <p class="m-brown">Here at Pintbaby we know that the search for the perfect pint is never-ending, 
                    so we've given you the opportunity to tell the world what you love about your favourite pubs.

                    To start using Pintbaby, simply click <a href="{{ url_for('register') }}" class="old-gold">here</a> 
                    to register and start reviewing in seconds.
                </p>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/against-grain.png') }}"
                    alt="Against the Grain in Dublin, Ireland">
            </div>
        </div>

        <div class="section light-grey-bg center">
            <div class="row container">
                <p class="m-brown">
                    Tired of Google reviews that talk about the lack of desserts on the menu? Sick of reading 
                    salty Yelp posts that moan about speed of service or not doing cocktails? At Pintbaby we've 
                    focused on what matters to the regular pub-goer: the atmosphere of the pub, the quality of 
                    the pour and most crucially (to some!) the damage to your wallet! To start reading other 
                    user's reviews click <a href="{{ url_for('pubs') }}" class="old-gold">here</a>.
                     
                </p>
                <h5 class="header m-brown">
                    A pint of plain is your only man.
                    - Flann O'Brien
                </h5>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/long-hall.png') }}"
                    alt="The Long Hall in Dublin, Ireland">
            </div>
        </div>

        <div class="section light-grey-bg center">
            <div class="row container">
                <p class="m-brown">
                    We love to get feedback on how to help our users in their quest for the perfect pint, so click
                    <a href="{{ url_for('contact_us') }}" class="old-gold">here</a> to send us any feedback - good
                    or bad! - press enquiries or a CV if you want to join our team!
                </p>
                <h5 class="header m-brown">
                    For a quart of ale is a dish for a king.
                    - William Shakespeare
                </h5>
            </div>
        </div>

    {% endblock %}