{% extends "main.html" %}

    <!-- Template for users to log in to the site -->

    {% block title %}
        Log In
    {% endblock %}

    {% block content %}
            
        <div class="row container">

            <!-- This is the standard horizontal card template from the Materialize website-->
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('login') }}">
                <h3 class="center-align d-brown" style="padding: 20px">Log in to your Pintbaby account</h3>

                <div class="center-align">
                    <img 
                        class="login-photo"
                        src="{{ url_for('static', filename='images/pintbaby-bg.png') }}"
                        alt="pintbaby placeholder">
                </div>

                <div class="center-align" style="padding-top: 20px;">
                    <a class="d-brown" href="{{ url_for('register') }}">New to Pintbaby? Register here!</a>
                </div>

                <div class="card horizontal">
                    <!-- no content here -->
                </div>
                    
                <div class="card-stacked">
                    <div class="row">
                        <br>
                        <div class="row">
                            <div class="input-field col s10 m8 offset-s1 offset-m2">
                                <i class="fas fa-key prefix reg-icon"></i>
                                <input id="username" name="username" type="text" minlength="5" 
                                    maxlength="16" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10 m8 offset-s1 offset-m2">
                                <!-- Label still Materialize default colour on focus -->
                                <i class="fas fa-lock prefix reg-icon"></i>
                                <input id="password" name="password" type="password" minlength="8" 
                                    maxlength="16" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card-action center-align">
                                <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                    <!-- Change font-->
                                    Enter
                                    <!-- Change icon -->
                                    <i class="far fa-check-square"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>

    {% endblock %}