{% extends "main.html" %}

    <!-- Landing template upon logging in, displays user's
        reviews and allows them to edit their profile -->

    {% block title %}
        {{ username }}'s Review History
    {% endblock %}

    {% block content %}

        <div class="row center-align">
            <h4 class="d-brown">{{ username }}'s Review History</h4>
        </div>

        <div class="row center-align">
            <div class="col s12 m8 offset-m2">

                {% for review in reviews %}
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image activator">
                                <img
                                    src="{{ url_for('static', filename='images/pintbaby-bg.png') }}"
                                    alt="pintbaby placeholder">
                                <span class="card-title left-align">{{ review.pub }}</span>
                                <div class="btn-floating halfway-fab waves-effect waves-light left review-dot">
                                    {{ review.prating }}
                                </div>
                                <div class="btn-floating halfway-fab waves-effect waves-light right">
                                    <i class="fas fa-book-open"></i>
                                </div>
                            </div>

                            <!-- Returns reviews submitted by this user -->
                            <div class="card-content spectral">
                                <h5 class="center-align">
                                    {{ review.visit }}
                                </h5>
                                <div class="center-align">
                                    <!-- Bugfix #10: JS icon class/ids -->
                                    <a 
                                        class="btn review-card-button user-edit"
                                        href="{{ url_for('moderate_review_user', review_id=review._id) }}">
                                        Edit
                                    </a>
                                    <a
                                        class="btn delete-button user-delete modal-trigger"
                                        href="#modalAdminDelete{{ review._id }}">
                                        Delete
                                    </a>
                                </div>
                            </div>

                            <div class="card-reveal">
                                <div class="row">
                                    <span class="card-title activator">
                                        <i class="right fas fa-angle-down d-brown"></i>
                                    </span>
                                </div>

                                <div class="row">
                                    {{ review.review }}
                                </div>

                                <div class="row revrow center-align">
                                    <div class="col s6 revbox old-gold-bg">
                                        <div class="rev-metrics">
                                            <p>
                                                Price:
                                                {{ review.price }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s6 revbox m-brown-bg old-gold">
                                        <div class="rev-metrics">
                                            <p>
                                                Pint:
                                                {{ review.drating }}/10
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s6 revbox old-gold m-brown-bg">
                                        <div class="rev-metrics">
                                            <p>
                                                Atmosphere:
                                                {{ review.arating }}/10
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s6 revbox old-gold-bg m-brown">
                                        <div class="rev-metrics">
                                            <p>
                                                Overall:
                                                {{ review.prating }}/10
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal for delete button -->

                                <!-- Materialize Modal Template -->
                                <div id="modalAdminDelete{{ review._id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Confirm</h4>
                                        <p>Please confirm that you want to delete {{ review.author }}'s review of {{review.pub }}.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a
                                            href="{{ url_for('delete_review_admin_user', review_id=review._id) }}" 
                                            class="btn modal-close waves-effect waves-red delete-button">
                                            Delete
                                        </a>
                                        <a
                                            href="#" 
                                            class="btn modal-close waves-effect waves-yellow review-card-button">
                                            Cancel
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endblock %}