{% extends "main.html" %}

    <!-- Admin-only template showing post history of a user, as well as
        the ability to delete individual reviews of the whole account -->

    {% block title %}
        Log In
    {% endblock %}

    {% block content %}

        <!-- Delete button here-->
            
        Unique page showing profile of user, ability of admin to delete or review each review
        Table showing most recent review first, mirrors view of user's own profile page
        Search box at top

    {% endblock %}