{% extends "main.html" %}

    <!-- Landing template upon logging in, displays user's
        reviews and allows them to edit their profile -->

    {% block title %}
        {{ username }}'s Review History
    {% endblock %}

    {% block content %}

        <div class="parallax-container parallax-pub" style="height: 300px;">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/against-grain-brown.png') }}"
                    alt="Generic Pub Placeholder Image">
            </div>
        </div>

        <div class="row center-align">
            <h4 class="d-brown">{{ username }}'s Review History</h4>
        </div>

        <div class="row center-align">
            <div class="col s12 m8 offset-m2">

                {% for review in reviews %}
                    <div class="col s12 m4">
                        
                                <div class="center-align">
                                    <!-- Bugfix #10: JS icon class/ids -->
                                    <a 
                                        class="btn review-card-button user-edit"
                                        href="{{ url_for('moderate_review_user', review_id=review._id) }}">
                                        Edit
                                    </a>
                                    <a
                                        class="btn delete-button user-delete modal-trigger"
                                        href="#modalAdminDelete{{ review._id }}">
                                        Delete
                                    </a>
                                </div>
                            </div>

                            

                            <!-- Modal for delete button -->

                                <!-- Materialize Modal Template -->
                                <div id="modalAdminDelete{{ review._id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Confirm</h4>
                                        <p>Please confirm that you want to delete {{ review.author }}'s review of {{review.pub }}.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a
                                            href="{{ url_for('delete_review_admin_user', review_id=review._id) }}" 
                                            class="btn modal-close waves-effect waves-red delete-button">
                                            Delete
                                        </a>
                                        <a
                                            href="#" 
                                            class="btn modal-close waves-effect waves-yellow review-card-button">
                                            Cancel
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endblock %}