{% extends "main.html" %}

    {% block content %}

        <div class="row center-align">
            <h4>{{ username }}'s profile</h4>
        </div>

        <div class="row center-align">

            <a class="button btn-large" href="{{ url_for('edit_profile', username=session['user']) }}">Edit Profile</a>
            <a class="button btn-large" href="{{ url_for('logout') }}">Log Out</a>
        </div>

        <div class="row"> 

            <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                        <img src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                        <span class="card-title">Add review</span>
                        <a 
                            class="btn-floating halfway-fab waves-effect waves-light"
                            href="{{ url_for('add_review') }}">
                            <i class="fas fa-pen-nib"></i>
                        </a>
                        </div>
                        <div class="card-content spectral">
                        <p>
                            Click the button to submit a review
                        </p>
                        </div>
                    </div>
                </div>

            {% for review in reviews %}
                <div class="col s6 m3">
                    <div class="card">

                        <!-- First card is always the option to add a new review -->
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                            <span class="card-title">{{ review.pub }}</span>
                            <a
                                class="btn-floating halfway-fab waves-effect waves-light left"
                                href="#">
                                <div style="font-family: 'Fraunces'; font-weight: 600; font-size: 20px; text-align: center;">{{ review.prating }}</div>

                            </a>
                            <a
                                class="btn-floating halfway-fab waves-effect waves-light right"
                                href="#">
                                <i class="fas fa-info"></i>
                                <!-- expand this button to read review and see full information, 
                                could use Card Reveal from materialize, need to refer to review ID?  -->
                            </a>
                        </div>

                        <!-- Returns reviews submitted by this user -->
                        <div class="card-content spectral">
                            <p>
                                <br>
                                <div class="center-align">
                                    Pint: {{ review.drating }}/10
                                    Price: {{ review.price }}
                                </div>
                                <br>
                                <div class="center-align">
                                    <button class="btn review-card-button">Edit</button>
                                    <button class="btn review-card-button">Delete</button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endblock %}