{% extends "main.html" %}

    <!-- Landing template upon logging in, displays user's
        reviews and allows them to edit their profile -->

    {% block title %}
        {{ username }}
    {% endblock %}

    {% block content %}

        <div class="parallax-container parallax-pub" style="height: 300px;">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/against-grain-brown.png') }}"
                    alt="Generic Pub Placeholder Image">
            </div>
        </div>

        <div class="row center-align">
            <h4 class="d-brown">{{ username }}'s profile</h4>
        </div>

        <div class="row center-align">

            <a class="button btn-large" href="{{ url_for('edit_profile', username=session['user']) }}">Edit Profile</a>
            <a class="button btn-large" href="{{ url_for('logout') }}">Log Out</a>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1">

                {% for review in reviews %}
                    <div class="col s12 m4 center-align">
                        <div class="card revcard">
                            <div class="card-content">
                                <span class="card-title">{{ review.pub }}</span>
                                <span class="card-title">{{ review.visit }}</span>
                                <span class="card-title">Rating: {{ review.prating }}/10</span>
                            </div>

                            <div class="card-action">
                                <a
                                    class="review-card-button read-more"
                                    href="{{ url_for('view_review', review_id=review._id) }}">
                                    Read More
                                </a>
                            </div>
                            <div class="center-align admin-panel">
                                <!-- Bugfix #10: JS icon class/ids -->
                                <a 
                                    class="btn review-card-button user-edit"
                                    href="{{ url_for('edit_review', review_id=review._id) }}">
                                    Edit
                                </a>
                                <a
                                    class="btn delete-button user-delete modal-trigger"
                                    href="#modalDelete{{ review._id }}">
                                    Delete
                                </a>
                            </div>
                        </div>

                        <!-- Modal for delete button -->

                        <!-- Materialize Modal Template -->
                        <div id="modalDelete{{ review._id }}" class="modal">
                            <div class="modal-content">
                                <h4>Confirm</h4>
                                <p>Please confirm that you want to delete your review of {{ review.pub }}</p>
                            </div>
                            <div class="modal-footer">
                                <a
                                    href="{{ url_for('delete_review', review_id=review._id) }}" 
                                    class="btn modal-close waves-effect waves-red delete-button">
                                    Delete
                                </a>
                                <a
                                    href="#" 
                                    class="btn modal-close waves-effect waves-yellow review-card-button">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    {% endblock %}