{% extends "main.html" %}

    {% block content %}

        <h4>Select a pub to add or view reviews</h4>
            
        <div class="row">

            {% for pub in pubs %}
                <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                    <img src="#">
                    <span class="card-title">{{ pub.pname }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                    </div>
                    <div class="card-content">
                    <p>
                        {{ pub.loc}}, {{ pub.city }}
                        <br>
                        {{ pub.country }}
                        <br>
                    </p>
                    </div>
                </div>
                </div>
            {% endfor %}

        </div>

    {% endblock %}