{% extends "main.html" %}

    {% block content %}

        <div class="row center-align">
            <h4>Select a pub to add or view reviews</h4>

            <h3>Search bar by pub.city or pub.name <i class="fas fa-search"></i></h3>
        </div>

        <div class="row">

            <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                        <img src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                        <span class="card-title">Add review</span>
                        <a 
                            class="btn-floating halfway-fab waves-effect waves-light"
                            href="{{ url_for('add_review') }}">
                            <i class="fas fa-pen-nib"></i>
                        </a>
                        </div>
                        <div class="card-content spectral">
                        <p>
                            Click the button to submit a review
                        </p>
                        </div>
                    </div>
                </div>

            {% for pub in pubs %}
                <div class="col s6 m3">
                    <div class="card">
                        <div class="card-image">
                        <img src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                        <span class="card-title">{{ pub.pname }}</span>
                        <a
                            class="btn-floating halfway-fab waves-effect waves-light"
                            href="{{ url_for('add_review') }}">
                            <i class="fas fa-info"></i>
                        </a>
                        </div>
                        <div class="card-content spectral">
                        <p>
                            {{ pub.city }}
                            <br>
                            {{ pub.country }}
                            <br>
                        </p>
                        </div>
                        <!-- Add button here to view reviews of this pub. Add an if loop that if 
                        a review author matches the session user, then display an additional edit 
                        button on each review (but not the pub itself, these should only be 
                        deleteable by admins. Reviews can be deleted by the author or admin. See 
                        the Accordion Data Task Binding for an explanation of for loops -->
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endblock %}