{% extends "main.html" %}

    <!-- Combine log in and register pages to one, use Materialize switch? -->
    <!-- Use the character counter from the MAterialize website on each form entry-->

    {% block content %}       
        
        <div class="row container">

            <!-- This is the standard horizontal card template from the Materialize website-->
            <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('register') }}">
                <h4 class="center-align">Registration</h4>

                <div class="center-align">
                    <a class="d-brown" href="{{ url_for('login') }}">Already a Pintbaby? Log in here!</a>
                </div>

                <div class="card horizontal">
                    <!-- no content here, Materialize template reserves this for an image -->
                </div>

                <div class="card-stacked">
                    
                    <div class="row">
                        <br>

                        <!-- Username input -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <!-- Icon still Materialize default colour on focus -->
                                <i class="fas fa-key prefix reg-icon"></i>
                                <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,16}$" 
                                    title="Must be between 5 and 16 characters" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>

                        <!-- Name inputs share a row on larger screens, separate for mobile -->
                        <div class="row">
                            <!-- Forename input -->
                            <div class="input-field col s10 m5 offset-s1 offset-m1">
                                <i class="far fa-id-badge prefix reg-icon"></i>
                                <input id="first_name" name="first_name" minlength="3" 
                                    maxlength="20" type="text" class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>

                            <!-- Surname input -->
                            <div class="input-field col s10 m5 offset-s1">
                                <i class="fas fa-id-badge prefix reg-icon"></i>
                                <input id="last_name" name="last_name" minlength="3" 
                                    maxlength="20" type="text" class="validate" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>

                        <!-- Email address input -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <i class="fas fa-at prefix reg-icon"></i>
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <i class="fas fa-lock prefix reg-icon"></i>
                                <input id="password" name="password" type="password" pattern="^[a-zA-Z0-9]{8,16}$" 
                                    title="Must be between 8 and 16 characters" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>

                        <!-- Submission button -->
                        <div class="row">
                            <div class="card-action center-align">
                                <button class="btn-large waves-effect waves-yellow pb-button" type="submit" name="action">
                                    <!-- Change font-->
                                    Become a pintbaby!
                                    <i class="far fa-check-square d-brown"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    {% endblock %}