{% extends "main.html" %}

    <!-- Admin-only template to view a list of users, their 
        post history and the ability to delete them -->

    {% block title %}
        Edit Users
    {% endblock %}

    {% block content %}
        <!-- Materialize parallax -->
        <div class="parallax-container parallax-pub" style="height: 300px;">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/against-grain-brown.png') }}"
                    alt="Generic Pub Placeholder Image">
            </div>
        </div>

        <div class="row center-align">
            <h4 class="d-brown">Users</h4>
        </div>

        <div class="container">
            <table class="highlight">
                <thead>
                    <tr>
                        <th class="d-brown">Username</th>
                        <th class="d-brown mob-display">E-mail Address</th>
                        <th class="d-brown">History</th>
                        <th class="d-brown">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="d-brown">{{ user.username }}</td>
                        <td class="d-brown mob-display">{{ user.email }}</td>
                        <td>
                            <!-- Displays all reviews on opening -->
                            <a
                                href="{{ url_for('moderate_user', user_id=user._id) }}"
                                class="btn review-card-button">
                                <i class="fas fa-book-open"></i>
                            </a>
                        </td>
                        <td>
                            <a
                                href="#modalAdminDelete{{ user._id }}"
                                class="btn delete-button modal-trigger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>


                    <!-- Modal for delete button -->

                    <!-- Materialize Modal Template -->
                    <div id="modalAdminDelete{{ user._id }}" class="modal">
                        <div class="modal-content">
                            <h4>Confirm</h4>
                            <p>Please confirm that you want to delete {{ user.username }}.</p>
                        </div>
                        <div class="modal-footer">
                            <a
                                href="{{ url_for('delete_user', user_id=user_id) }}" 
                                class="btn modal-close waves-effect waves-red delete-button">
                                Delete
                            </a>
                            <a
                                href="#" 
                                class="btn modal-close waves-effect waves-yellow review-card-button">
                                Cancel
                            </a>
                        </div>
                    </div>

                    <!-- Modal for delete button -->

                    <!-- Materialize Modal Template -->
                    <div id="modalDelete{{ user._id }}" class="modal">
                        <div class="modal-content">
                            <h4>Confirm</h4>
                            <p>Please confirm that you want to delete {{ user.username }}</p>
                        </div>
                        <div class="modal-footer">
                            <a
                                href="{{ url_for('delete_user', user_id=user._id) }}" 
                                class="modal-close waves-effect waves-red delete-button">
                                Delete
                            </a>
                            <a
                                href="#" 
                                class="modal-close waves-effect waves-yellow review-card-button">
                                Cancel
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}