{% extends "main.html" %}

    <!-- Template to view all of a pub's reviews. Additional admin 
        features include the ability to edit or delete any review. -->

    {% block title %}
        {{ pub_id.pname }}, {{ pub_id.city }}
    {% endblock %}

    {% block content %}

    
    {% if pub_id.photo %}
        <div class="parallax-container parallax-pub">
            <div class="parallax">
                <img
                    src="{{ pub_id.photo }}"
                    alt="{{ pub_id.pname }} in {{ pub_id.city }}, {{ pub_id.country }}">
            </div>
        </div>
    {% else %}
        <div class="parallax-container parallax-pub">
            <div class="parallax">
                <img
                    src="{{ url_for('static', filename='images/against-grain-brown.png') }}"
                    alt="Generic Pub Placeholder Image">
            </div>
        </div>
    {% endif %}

    <div class="row">   
        <div class="col s12 m8 offset-m2">
            <h2 class="left-align d-brown">{{ pub_id.pname }}</h2>
            <h5 class="left-align d-brown">{{ pub_id.loc}}, {{ pub_id.city }}, {{ pub_id.country }}</h5>
        </div> 
    </div>

        <div class="row center-align">
            <div class="col s12 m8 offset-m2">

            <!-- First card for logged-in users is always the option to add a new review -->

            {% for review in reviews %}
                {% if pub_id.pname == review.pub %}
                    <div class="col s12 m4">
                        <div class="card revcard">

                            <div class="card-content">
                                <span class="card-title">{{ review.author }}</span>
                                <span class="card-title">{{ review.visit }}</span>
                                <span class="card-title">Rating: {{ review.prating }}/10</span>
                            </div>

                            <div class="card-action">
                                <a
                                    class="review-card-button"
                                    href="{{ url_for('view_review', review_id=review._id) }}">
                                    Read More
                                </a>
                            </div>

                            <!-- Additional panel to display only for admins -->
                            {% if session.user == "pbadmin" %}
                            <div class="row">
                                <div class="center-align admin-panel">
                                    <!-- Bugfix #10: JS icon class/ids -->
                                    <a 
                                        class="btn review-card-button admin-moderate"
                                        href="{{ url_for('moderate_review', review_id=review._id) }}">
                                        Moderate
                                    </a>
                                    <a
                                        class="btn delete-button modal-trigger admin-delete"
                                        href="#modalAdminDelete{{review._id}}">
                                        Delete
                                    </a>
                                </div>
                            </div>

                            <!-- Modal for delete button -->

                            <!-- Materialize Modal Template -->
                            <div id="modalAdminDelete{{review._id}}" class="modal">
                                <div class="modal-content">
                                    <h4>Confirm</h4>
                                    <p>Please confirm that you want to delete {{ review.author }}'s review of {{ review.pub }}.</p>
                                </div>
                                <div class="modal-footer">
                                    <a
                                        href="{{ url_for('delete_review_admin', review_id=review._id) }}" 
                                        class="btn modal-close waves-effect waves-red delete-button">
                                        Delete
                                    </a>
                                    <a
                                        href="#" 
                                        class="btn modal-close waves-effect waves-yellow review-card-button">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

    {% endblock %}