{% extends "main.html" %}

    <!-- Template to view all of a pub's reviews. Additional admin 
        features include the ability to edit or delete any review. -->

    {% block title %}
        {{ pub_id.pname }}, {{ pub_id.city }}
    {% endblock %}

    {% block content %}

        <h2 class="center-align">{{ pub_id.pname }}</h2>

        <h5 class="center-align">{{ pub_id.loc}}, {{ pub_id.city }}, {{ pub_id.country }}</h5>

        <div class="row center-align">
            <div class="col s12 m8 offset-m2">

            <!-- First card is always the option to add a new review -->
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                        <img 
                            src="{{ url_for('static', filename='images/pintbaby-bg.png') }}"
                            alt="pintbaby placeholder">
                        <span class="card-title">Add review</span>
                        <a 
                            class="btn-floating halfway-fab waves-effect waves-light"
                            href="{{ url_for('add_review_of', pub_id=pub_id._id) }}">
                            <i class="fas fa-pen-nib"></i>
                        </a>
                        </div>
                        <div class="card-content spectral">
                            <h5>
                                <br aria->
                            </h5>
                            <div class="center-align">
                                <a 
                                    class="btn review-card-button"
                                    href="{{ url_for('add_review_of', pub_id=pub_id._id) }}">
                                    Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% for review in reviews %}
                {% if pub_id.pname == review.pub %}
                    <div class="col s12 m4">
                        <div class="card revcard">

                            <div class="card-image">
                                <img class="activator" src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                                <span class="card-title">{{ review.author }}</span>
                                <div class="btn-floating activator halfway-fab waves-effect waves-yellow review-dot">
                                    {{ review.prating }}
                                </div>
                            </div>

                            <div class="card-content">
                                <span class="card-title activator">
                                    <i class="left">{{ review.visit }}</i>
                                    <br>
                                </span>
                            </div>

                            <div class="card-reveal">
                                <div class="row">
                                    <span class="card-title activator">
                                        <i class="left">{{ review.pint }}</i>
                                        <i class="right fas fa-angle-up d-brown"></i>
                                    </span>
                                </div>

                                <!-- Displays review text on open -->
                                <div class="row">
                                    <div class="col s12">
                                        <em>{{review.author}} says</em>: {{ review.review }}
                                    </div>
                                </div>

                                <!-- Displays review scores on open -->
                                <div class="row revrow">
                                    <div class="col s6 revbox old-gold-bg m-brown">
                                        Price:
                                        <br>
                                        {{ review.price }}
                                    </div>
                                    <div class="col s6 revbox old-gold m-brown-bg">
                                        Quality:
                                        <br>
                                        {{ review.drating }}/10
                                    </div>
                                    <div class="col s6 revbox-b">
                                        Atmosphere:
                                        <br>
                                        {{ review.arating }}/10
                                    </div>
                                    <div class="col s6 revbox-g">
                                        Overall:
                                        <br>
                                        {{ review.prating }}/10
                                    </div>
                                </div>
                            </div>

                            <!-- Additional panel to display only for admins -->
                            {% if session.user == "pbadmin" %}
                                <div class="row">
                                    <br>
                                    <div class="center-align admin-panel">
                                        <a 
                                            class="btn review-card-button"
                                            id="#adminModerate"
                                            href="{{ url_for('moderate_review', review_id=review._id) }}">
                                            Moderate
                                        </a>
                                        <a
                                            class="btn delete-button"
                                            id="#adminDelete"
                                            href="{{ url_for('delete_review_admin', review_id=review._id) }}">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

    {% endblock %}