{% extends "main.html" %}

    {% block content %}

        <h2 class="center-align">{{ pub_id.pname }}</h2>

        <h4 class="center-align">{{ pub_id.loc}}, {{ pub_id.city }}, {{ pub_id.country }}</h4>

        <div class="row center-align">
            {% for review in reviews %}
                {% if pub_id.pname == review.pub %}
                    <div class="col s6 m3">
                        <div class="card">
                            <div class="card-image">
                                <img class="activator" src="{{ url_for('static', filename='images/pintbaby-bg.png') }}">
                                <a class="btn-floating activator halfway-fab waves-effect waves-yellow m-brown">
                                    <i class="material-icons">{{ review.prating }}</i>
                                </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator">
                                    <i class="left">{{ review.visit }}, {{ review.author }}</i>
                                </span>
                                <div class="card-reveal">
                                    <span class="activator">
                                    {{ review.review }}
                                    <br>
                                    <br>
                                    {{ review.pint }} price: {{ review.price }}
                                    <br>
                                    {{ review.pint }} verdict: {{ review.drating }}/10
                                    <br>
                                    Atmosphere verdict: N/10
                                    <br>
                                    Overall verdict: {{ review.prating }}/10
                                    </span>
                                </div>
                            </div>

                            <br>

                            <br>

                            <div class="card-reveal">
                                <span class="card-title">
                                    <i class="left">{{ review.visit }}</i>
                                    <i class="right">{{ review.author }}</i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endblock %}